apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "whereisthenorthreally.fullname" . }}
  labels:
    {{- include "whereisthenorthreally.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "whereisthenorthreally.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "whereisthenorthreally.selectorLabels" . | nindent 8 }}
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "whereisthenorthreally.fullname" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 13 }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
          env:
            - name: DB_HOST
              value: "{{ include "whereisthenorthreally.fullname" . }}-mariadb-cluster"
            - name: DB_USERNAME
              value: "{{ index .Values "mariadb-cluster" "mariadb" "username" }}"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ include "whereisthenorthreally.fullname" . }}-mariadb-cluster-password"
                  key: password
            - name: DB_DATABASE
              value: "{{ index .Values "mariadb-cluster" "mariadb" "database" }}"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      restartPolicy: Always
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
